# Copyright (c) 2022 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

menuconfig MODULES
	bool "Dynamic module loading"
	depends on !EXECUTE_XOR_WRITE
	help
	  Enable dynamic module loading

if MODULES

config MODULES_CODE_SIZE
	int "Module code memory size"
	default 131072
	help
	  Memory reserved for dynamic module code, in bytes

config MODULES_DATA_SIZE
	int "Module data memory size"
	default 131072
	help
	  Memory reserved for dynamic module data and relocations, in bytes

config MODULES_STACK_SIZE
	int "Module execution stack size"
	default 8192
	help
	  Memory reserved for module thread stack, in bytes

config MODULES_INIT_PRIORITY
	int "Module subsystem init priority"
	default 50
	help
	  Modules subsystem init priority at POST_KERNEL level

config MODULES_SHELL
	bool "Modules shell commands"
    depends on SHELL
	help
	  Manage modules with shell commands

module = MODULES
module-str = modules
source "subsys/logging/Kconfig.template.log_config"

endif
